.square_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.square_2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.child_2-1 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.child_2-1-1 {
    flex: 0 0 25%;
    
}
.child_2-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.child_2-2-1 {
    flex: 0 0 25%;
}
.square_3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.child_3-1:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.child_3-1-1 {
    flex: 0 0 25%;
}
.child_3-1-1:nth-child(1) {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
}
.child_3-1-1:nth-child(3) {
    display: flex;
    flex-direction: column;
}
.child_3-1-1-1 {
    flex: 0 0 25%;
}
