.square_3 {
    width: 800px;
    height: 800px;
    margin: 30px auto;
    background-color: red;
}

.child_3-1 {
    margin: 15px auto;
    width: 95%;
    height: 10%;
    background-color: blue;
}

.child_3-1:nth-child(3) {
    position: relative;
    width: 95%;
    height: 95%;
    background-color: pink;
    overflow-x: scroll;
    
}

.child_3-1:nth-child(3)::-webkit-scrollbar, .child_3-1-1:nth-child(odd)::-webkit-scrollbar {
    width: 15px;
    background-color: #0ce9c8;
}

.child_3-1-1 {
    margin-top: 10px;
    background-color: #42f442;
    margin-left: 10px;
    width: 28%;
    height: 95%;
}

.child_3-1-1:nth-child(2n) {
    height: 75%;
}

.child_3-1-1-1 {
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
    background-color: red;
    width: 80%;
}

.child_3-1-1:nth-child(odd) {
    overflow-y: scroll;
}

