.square_2 {
    position: relative;
    width: 800px;
    height: 800px;
    margin: 30px auto;
    background-color: red;
}

.child_2-1 {
    position: relative;
    width: 97.5%;
    height: 25%;
    margin: 10px;
    background-color: darkred;
    overflow-x: scroll;
}
.child_2-1::-webkit-scrollbar, .child_2-2::-webkit-scrollbar{ 
    height: 15px;
    background-color: #42f442;
}

.child_2-2 {
    width: 25%;
    height: 75%;
    margin: 5px 0 20px 10px;
    background-color: darkred;
    overflow-y: scroll;
}

.child_2-3 {
    position: absolute;
    top: 27%;
    left: 28.7%;
    width: 70%;
    height: 70.5%;
    background-color: blue;
}

.child_2-1-1 {
    background-color: yellow;
    height: 85%;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 20px;
}

.child_2-2-1 {
    position: relative;
    background-color: yellow;
    margin: 15px;
    width: 80%;
}


