.square_1 {
    width: 800px;
    height: 800px;
    margin: 30px auto;
    background-color: darkred;
}

.child_1 {
    position: relative;
    width: 25%;
    height: 25%;
    background-color: purple;
}

.child_1::before {
    position: absolute;
    left: 600px;
    content: '';
    width: 100%;
    height: 100%;
    background-color: purple;
}

.child_2 {
    position: relative;
    width: 15%;
    height: 15%;
    background-color: blue;
}

.child_2::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: blue;
    left: 680px;
}

.child_3 {
    margin: 25% auto;
    width: 50%;
    height: 50%;
    background-color: green;
}

.child_3::before {
    position: absolute;
    left: 650px;
    content: '';
    width: 50%;
    height: 50%;
    background-color: green;
}





